@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>My first View </title>

     @*Пример подключения CSS*@
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="jumbotron text-center">
    <h1>My First MVC VIEW </h1>
    <p>Omsk state Technical University!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Controller.</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>View.</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Model.</p>
        </div>
    </div>
</div>
</body>
</html>